<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.numad22sp_bdd_project">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NUMAD22Sp_BDD_Project">
        <activity
            android:name=".home.MainActivity"
            android:exported="false" />
        <activity
            android:name=".register.RegisterActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".quiz.QuizActivity"
           />
        <activity
            android:name=".adhd.adhdActivity"
            />
        <activity
            android:name=".adhd.adhdResultActivity"
            />
        <!-- Anxiety Questionnaire -->
        <activity android:name=".anxiety.anxietyActivity" />
        <activity android:name=".anxiety.anxietyResultActivity" />

        <activity android:name=".bipolar.bipolarActivity" />
        <activity android:name=".bipolar.bipolarResultActivity" />

        <activity android:name=".depression.depressionActivity" />
        <activity android:name=".depression.depressionResultActivity" />

        <activity android:name=".ocd.ocdActivity" />
        <activity android:name=".ocd.ocdResultActivity" />

        <!-- PTSD Questionnaire -->
        <activity android:name=".ptsd.ptsd" />
        <activity android:name=".ptsd.ptsdActivity" />
        <activity android:name=".ptsd.ptsdResultActivity" />

        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>